/* SPDX-FileCopyrightText: 2010-2021 Tobias Leupold <tl at stonemx dot de>

   SPDX-License-Identifier: CC-BY-SA-4.0
*/

main {
    text-align: justify;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

@media only screen and (min-width: 50em) {
    main {
        width: 50em;
    }
}

@media (pointer: coarse) {
    ul.auto-toc li {
        margin: 1em 0;
    }
}

ul:not(.auto-toc) li {
    margin-bottom: 0.5em;
}
